* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    font-family: 'Nunito', sans-serif;
    background-color: #3d9440;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-container {
    flex: 1;
}

.logo {
    width: 150px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.nav-container {
    display: flex;
    flex: 2;
    justify-content: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}

.nav-list li a:hover {
    color: #9be01b;
    transform: scale(1.1);
}

.cart-icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
    font-size: 1.5rem;
    color: #ffffff; 
    transition: color 0.3s ease;
}

.cart-icon:hover {
    color: #9be01b; 
}


#main {
    background-image: url('../img/fundo\ floresta.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: white;
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.main-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-content p {
    margin-top: 20px;
    font-size: 1.25rem;
    max-width: 800px;
    margin: 0 auto;
    
}

#products {
    padding: 60px 20px;
    background-color: #f8f8f8;
    color: #333;
}

#products h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

#products h2::after {
    content: '';
    display: block;
    width: 550px;
    height: 8px;
    background: #3d9440;
    margin: 20px auto 2px;
    border-radius: 3px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product-item:hover img {
    transform: scale(1.05);
}

.product-item h3 {
    margin: 15px 0;
    font-size: 1.75rem;
    font-weight: 500;
    color: #333;
}

.product-item p {
    font-size: 1.25rem;
    color: #3d9440;
    margin-bottom: 15px;
}

.product-item button {
    padding: 10px 20px;
    background-color: #3d9440;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-item button:hover {
    background-color: #3d9440;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


#sustainable-materials {
    padding: 60px 20px;
    background: linear-gradient(to right, #9cdea1, #7ed480);
    color: #333;
    text-align: center;
}

#sustainable-materials h2 {
    font-size: 2.25rem;
    color: #3d9440;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#sustainable-materials p {
    font-size: 1rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#sustainable-materials p:last-child {
    margin-bottom: 0;
}

#sustainable-materials .icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#sustainable-materials .icon {
    font-size: 2.5rem;
    color: #3d9440;
    transition: transform 0.3s ease, color 0.3s ease;
}

#sustainable-materials .icon:hover {
    color: #3d9440;
    transform: scale(1.2);
}

.footer {
    background-color: #3d9440;
    color: #fff;
    padding: 50px 0;
    font-family: 'Nunito', sans-serif;
    position: relative;
    
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section h3,
.footer-section h4 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.footer-section p {
    font-size: 1rem;
    line-height: 1.8;
}

.footer-nav,
.footer-contact {
    list-style: none;
    padding: 0;
}

.footer-nav li,
.footer-contact li {
    margin-bottom: 10px;
}

.footer-nav li a,
.footer-contact li {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-nav li a:hover {
    color: #9be01b;
    transform: scale(1.05);
}

.footer-bottom {
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
}

.footer-social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
}

.footer-social-icons li {
    margin: 0 10px;
}

.footer-social-icons li a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social-icons li a:hover {
    color: #9be01b;
    transform: scale(1.2);
}

.footer-bottom p {
    font-size: 1rem;
    margin-top: 10px;
    color: #fff;
}

@media (max-width: 768px) {
    .product-item {
        width: 100%;
    }
    
    #sustainable-materials p {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    header .nav-list {
        flex-direction: column;
        gap: 10px;
    }
}
